 
@media screen and (min-width: 0px) and (max-width: 980px) {
    .left, .main, .right { float: none; width: auto; }
    .post-gutter { margin: 0;}
    .container { width: auto; }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .posts LI .post-date,
  .posts LI .post-title  { margin: 0; margin-top: 30px;}
  .post-title { line-height: 110%; clear:both;}
  h1, h2, h3 { line-height: 120%;}
}