 
@media screen and (min-width: 0px) and (max-width: 980px) {
    .left, .main, .right { float: none; width: auto; }
    .post-gutter { margin: 0;}
    .container { width: auto; }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .posts LI .post-date,
  .posts LI .post-title  { margin: 0; margin-top: 30px;}
  .post-title { line-height: 110%; clear:both;}
  h1, h2, h3 { line-height: 120%;}
}

/* common across all three */
@media screen and (min-width: 0px) and (max-width: 830px) {
  #footer.fixed { line-height: 105%; text-align: center; font-size: 16px; padding-top: 10px; }
  #footer .button { display: inline-block; margin-top: 5px; font-size: 16px;} 
  #learn-more: { margin: 0; }
}
/* specifics */
@media screen and (min-width: 475px) and (max-width: 830px) {
  #footer.fixed { height:50px; }
  #index, #post { margin-bottom: 50px;} /* balances out the footer */
}
@media screen and (min-width: 350px) and (max-width: 474px) {
  #footer.fixed { height:60px; }
  #index, #post { margin-bottom: 60px; } /* balances out the footer */
}
@media screen and (min-width: 0px) and (max-width: 349px) {
  #footer.fixed { height:65px; font-size:14px; }
  #footer .button { font-size: 14px; }
  #index, #post { margin-bottom: 65px; } /* balances out the footer */
}