body { font-family:'Source Sans Pro', sans; color: #333; margin: 0px; }

h1{color:#ca4434;font-weight: 100;}
h2{color:#ca4434;font-weight: 100;}

h1.title { font-size: 48px;}
h2.sub { font-style: italic;}

a { color: #6699cc; text-decoration: none; }
a:hover { color: #ccc;}

.container { margin: 0 auto; width: 1020px; padding: 20px; background: white;}

#logo { width: 100px;}

#footer { background-color: #ca4434; color: white; font-size: 20px; font-weight: bold; text-align:center;}
#footer.fixed {height:50px; position:fixed; left:0; bottom:0px; width:100%; line-height: 50px; opacity: 0.95; }
#index, #post { margin-bottom: 50px;} /* balances out the footer */
#learn-more { margin-left: 40px }

.button { border-radius: 4px; font-size: 20px; font-weight: 100; text-decoration: none; padding: 4px 10px 4px 10px;}
.button.white { background: white; color: #ca4434; }
.button.white:hover { color:#ca4434; background:#f1b8b2; }

.left, .main, .right { margin:20px; }

.left { width: 100px; float: left;}
.main { width: 700px; float: left;}
.right { width: 100px; float: left; text-align: right;}

.zero-margin { margin: 0;}
.post-gutter { margin-left: 100px;}

.posts { margin: 40px 0 0 0; padding: 0;}
.posts .post-title A { text-decoration: none; color: #333;}
.posts .post-title A:hover { color: #ccc;}
.posts LI,
  .posts LI.sep { list-style-type: none; margin: 20px 0 40px 0; }
.posts LI.sep:last-child { display: none;}
.posts LI.sep { text-align: center; font-size: 40px; font-weight: 100; color: #ccc; margin: -20px 0 -20px 0; letter-spacing: -3px;}
.posts LI IMG { float: left; padding-right: 20px;}

.posts LI .post-date { margin-left: 100px; display: block; margin-bottom: 10px;}
.posts LI .post-title { margin-left: 100px; display: block; }

.post-title { font-weight: 100;font-size: 48px; line-height: 125%; color: #333; }
#post .post-title { margin-left: -5px;} 

.post-body { font-weight: 100; font-size: 20px;}

.by { color:#ca4434; font-weight: 400; font-size: 20px; margin-top: 4px; }

.post-info { font-weight: bold; font-weight: 600; margin-top: 20px;} 
.post-info .date { font-size: 24px;}
.post-info .category { font-size: 16px; }

.post-category { font-weight: bold;}
.post-body { line-height: 1.5; }
.post-body a { font-weight: 400; }
.post-body IMG { width: 100%; }
.post-body IMG.large { border:1px solid #ccc;
    margin:25px 0 25px 0;
  }
.post-body IMG.snippet { border:1px solid #ccc;
    margin:5px 0 5px 0; }
.post-body em { font-size:28px; }

::selection {
  background: #ca4434;
  color: white; /* Safari */
  }
::-moz-selection {
  background: #ca4434; /* Firefox */
  color: white;
}