---
layout: default
title: Category {{ page.category_name }}
---

<div id="index" class="container clearfix">

  {% include left.html %}

  <div class="main">

    <h1 class="zero-margin post-gutter title">Warble Alerts Blog</h1>
    <h2 class="sub zero-margin post-gutter">{{ page.title }}</h2>

    <ul class="posts">
      {% for post in site.posts %}
        {% if post.category == page.category_name %}
          {% include post_item.html %}
        {% endif %}
      {% endfor %}
    </ul>

  </div>

  <div class="right">
  </div>

</div>