<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Warble Alerts Blog</title>
    <meta name="description" content="Warble Alerts Blog. Learn more about Warble and how people are using it.">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css' />
    {% css_asset_tag global %}
    - _assets/normalize.css
    - _assets/main.css
    - _assets/site.css
    - _assets/grid.css
    {% endcss_asset_tag %}
    {% javascript_asset_tag global %}
    - /_assets/plugins.js
    - /_assets/main.js
    {% endjavascript_asset_tag %}
  </head>
  <body>
  {{ content }}
  <div id="footer" class="fixed">
    Setup Custom, daily email digests and alerts for Twitter with Warble Alerts.
    <a class="button white" style="margin-left: 40px" href="http://warble.co">Learn More</a>
  </div>
  </body>
</html>