<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title | page.title }} | Warble Alerts Blog</title>
    <meta name="dummy" content="1">
    <meta name="description" content="Warble Alerts Blog. Learn more about Warble and how people are using it.">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css' />
    {% css_asset_tag global %}
    - _assets/normalize.css
    - _assets/main.css
    - _assets/site.css
    - _assets/grid.css
    - _assets/responsive.css
    {% endcss_asset_tag %}
    {% javascript_asset_tag global %}
    - /_assets/plugins.js
    - /_assets/main.js
    {% endjavascript_asset_tag %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-35911377-3', 'warble.co');
    ga('send', 'pageview');
  </script>
  </head>
  <body>
  {{ content }}
  <div id="footer" class="fixed">
    Setup Custom, daily email digests and alerts for Twitter with Warble Alerts.
    <a id="learn-more" class="button white" href="http://warble.co">Learn More</a>
  </div>
  </body>
</html>