---
layout: default
---

<div id="post" class="container clearfix">

  {% include left.html %}

  <div class="main">

    <h1 class="zero-margin post-title">{{ page.title }}</h1>

    <div class="post-info">
      <div class="date">{{ page.date || pretty }}</div>
      <div class="category">Filed under: <a class="post-category" href="/category/{{ page.category | dashed_category_name }}/">{{ page.category }}</a></div>
    </div>

    <div class="post-body">
      {{ content }}
    </div>

  </div>

  <div class="right">
    <img src="/images/{{ page.author }}.png" />
    <p class="by"><i>by</i> {{ page.author }}</p>
  </div>

</div>

